.navBarOuterDiv{
    display: grid;
    padding: 2%;
    background-color: transparent;
    border-bottom: 2px #fff double;
}
.navBarInnerDiv{
    display: grid;
    grid-auto-flow: column;
    grid-gap: 1%;
}
.link{
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}
.linkDiv:hover{
    transform: scale(1.2);
    background-color: inherit;
}
.linkDiv{
    text-align: center;
}
.logoLink{
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}