.backdrop{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000000e1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalOuterDiv{
    width: clamp(50%,43.75rem,90%);
    height: min(50%,23.25rem);

    margin: auto;
    padding: 0 2rem;
    border-radius: 1rem;
    border: 2px solid #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    color: #696969;
    z-index:99;
}

.iconDiv{
    padding-top: 2%;
}