.cardOuterDiv{
    display: grid;
}
.card{
    background: transparent;
    padding: 4%;
    margin: 3%;
    border-radius: 1rem;
    border: 2px #fff solid;
    height: 110%;
    text-align: justify;
    position: relative;
}
.card h3{
    border-bottom: 1px #fff solid ;
    padding-bottom: 5%;
}
.cardLink{
    position: absolute;
    bottom: 1.2rem;
    border-top: 1px #fff solid;
    width: 90%;
    padding-top: 5%;
}