.cardOuterDiv{
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 10%;
}
.card{
    background: transparent;
    padding: 4%;
    margin: 3%;
    border: 2px #fff solid;
    height: 100%;
    text-align: justify;
    position: relative;
    border-bottom-left-radius: 3rem;
    border-top-right-radius: 3rem;
}
.card:hover {
    background-color: #fff;
    color: #000;
}
.card:hover .cardLink>div>a{
    color: #000;
    text-decoration-color: #000;
}
.card h3{
    border-bottom: 1px #fff solid ;
    padding-bottom: 5%;
}
.cardLink{
    position: absolute;
    bottom: 1.2rem;
    border-top: 1px #fff solid;
    width: 90%;
    padding-top: 5%;
}
.headerMobile{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 2%;
    margin: 2%;
    text-align: center;
}
.selectedWork{
    border-radius: 1rem;
    padding-bottom: 4%;
    padding-top: 0%;
    border: 1px #fff solid;
}